aniso8601==8.0.0
Click==7.0
cmake
Flask==2.2.5
Flask-Cors==3.0.9
Flask-Executor==0.9.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
py-libsudoku==1.0.24
pytz==2019.3
six==1.12.0
Werkzeug==3.0.3
