aniso8601==8.0.0
Click==7.0
cmake
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Executor==0.9.3
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
py-libsudoku==1.0.16
pytz==2019.3
six==1.12.0
Werkzeug==0.16.0
